

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}



.hero-section{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('../image/hoc.svg') ;
    background-repeat: no-repeat;
    background-size: cover;  
}


.hero-body{
    min-height: calc(90vh - 85px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* nav */

.app-navbar{
    display: flex;
    justify-content: space-between;
}
.app-navbar ul li{
    list-style-type: none;
    display: inline-block;
}
.app-navbar ul li a{
    display: block;
    padding: .3rem .75rem;
    color: #333333; 

}

.app-navbar ul li a:hover{
    text-decoration: none;
    color: #EB5757;
}


.subheading {
    font-size: 18px;
    text-transform: capitalize;
}

.heading{
    font-size: 80px;
    color: #EB5757;
    margin-bottom: 1rem;
}

.about{
    max-width: 70%;
    text-align: center;
}

.date-section{
    min-height: 50vh;
    background: #333333;
    padding: 5rem 0;
}
.lead-text{
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 5rem;
}
.map-section{
    padding: 3rem 0;
}

.map{
    margin: 2rem 0;
}

#mapid{
    height: 70vh;
}
footer.footer{
    padding: 4rem 0;
    background-color: #333333;
}

.countdown{
    /*margin-top: 2rem;*/
    padding: 3rem 0;
}

.timer{
    font-size: 32px;
    text-align: center;
    color: #EB5757;
}